/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme{
    --color-primary: #ff7425;
    --color-dark: #0E0E0E;
    --color-light-dark: #151515;

    --font-secondary: "DM Sans", sans-serif;
    --font-primary: "Arimo", sans-serif;
}

@layer{
    body{
        font-family: var(--font-primary);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-secondary);
    }
}